
.line-chart .axis path,
.line-chart .axis line{
    fill: none;
    stroke: black;
}

.line-chart .line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.line-chart .tick text{
    font-size: 12px;
}

.line-chart .tick line{
    opacity: 0.2;
}